<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeachTube</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="static/style.css">
</head>

<!-- <head>
  <title>Streaming Video Recorder</title>
</head> -->
<body>
  <div>
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
          <a href="#" class="pull-left"><img src="/static/logo.png" width="100" height="100"></a> 
            <p>TeachTube</p>
        </nav>
        
        <div class="container hero">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="recorder">
                      <button class="btn btn-dark action-button mb-1" role="button" id="record">Record</button>
                      <button class="btn btn-dark action-button mb-1" role="button"id="stop">Stop</button>
                      <button class="btn btn-dark action-button mb-1" id="upload">Upload</button>
                      <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script> 
                      <img id="video" src="{{ url_for('video_viewer') }}">     
                      <!-- <form  id="form1" method="post" action="" target = "_parent" > -->
                        <form onsubmit="uploadFunc(event)" id="form2" style="display: none">
                          <div class="form-row mt-5">
                            <div class="form-group col-md-4">
                              <label for="inputEmail4">Name</label>
                              <input type="text" class="form-control" id="inputEmail4" placeholder="Name of Creator">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputAddress">Title of the Video</label>
                            <input type="text" class="form-control" id="inputTitle" placeholder="Electricity | Class X Science">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="inputState">Class</label>
                              <select id="inputState" class="form-control">
                                <option selected>X</option>
                                <option>XI</option>
                                <option>XII</option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputcategory">Category</label>
                              <select id="inputcategory" class="form-control">
                                <option selected>Science</option>
                                <option>Maths</option>
                                <option>History</option>
                              </select>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-dark" role="button">Submit</button>
                        </form>
                    </div>
                    <!-- <button id="download" onclick="">Upload</button> -->
                    <!-- <div class="form-popup" id="myForm">
                        <form action="/action_page.php" class="form-container">
                          <h1>Login</h1>
                      
                          <label for="email"><b>Email</b></label>
                          <input type="text" placeholder="Enter Email" name="email" required>
                      
                          <label for="psw"><b>Password</b></label>
                          <input type="password" placeholder="Enter Password" name="psw" required>
                      
                          <button type="submit" class="btn">Login</button>
                          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </form>
                      </div> -->
                </div>
                
            </div>
        </div>
        
    </div>
    <footer class="page-footer font-small footerr">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-white">Designed and Developed for Codetivate
      </div>
      <!-- Copyright -->
    
    </footer>
    
</div>
</body>
</html>
